.vs/
.vscode/
bin/
obj/
.idea/
examples/
*.user
.DS_Store
**/logs/*

# Generated
ItemProto.cs
MobProto.cs
packages.lock.json

appsettings.*.json

docs/docs/Packets/QuantumCore.*/*.md
docs/docs/Commands/*.md
!docs/docs/Commands/Index.md
