name: Deploy to GitHub Pages [PR Test]

on:
  pull_request:
    branches:
      - master
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

defaults:
  run:
    working-directory: docs

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: docs
      # setup .NET to build markdown files
      - name: Setup .NET Core SDK 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: test dotnet
        run: dotnet --info
      - name: Build packet diagrams
        run: dotnet run --verbosity:quiet
        working-directory: src/Executables/DocsGenerator

      - name: Install dependencies
        run: npm ci
      - name: Test build website
        run: npm run build
