name: Pipeline

on: [push]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core SDK 7
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x
      - name: Download katai struct compiler
        run: |
          wget https://github.com/kaitai-io/kaitai_struct_compiler/releases/download/0.9/kaitai-struct-compiler-0.9.zip
          unzip kaitai-struct-compiler-0.9.zip
          PATH="${PWD}/kaitai-struct-compiler-0.9/bin/:${PATH}"
          sudo apt-get update && sudo apt-get install -y openjdk-8-jre
          ./generate_kaitai.sh
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --no-restore --verbosity normal
  
  deploy:
    needs: 
      - test
    runs-on: ubuntu-latest
    # only deploy if on master or tag
    if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Registry
        uses: docker/login-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ${{ env.REGISTRY }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4.6.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=raw,latest,enable=${{ github.ref == format('refs/heads/{0}', 'master') }}
      - name: Build and push game image
        uses: docker/build-push-action@v4.1.1
        with:
          context: .
          images: |
            quantum-core-x-game
          file: Executables/Game/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build and push auth image
        uses: docker/build-push-action@v4.1.1
        with:
          context: .
          images: |
            quantum-core-x-auth
          file: Executables/Auth/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Build and push migrator image
        uses: docker/build-push-action@v4.1.1
        with:
          context: .
          images: |
            quantum-core-x-migrator
          file: Executables/Migrator/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}